:root {
  --ag-black-color: #000000;
  --ag-grey-color: #989898;
  --ag-light-grey-color: #9E9E9E;
  --ag-dark-grey-color: #666666;
  --ag-ivory-color: #808080;
  --ag-white-color: #FFFFFF;
  --ag-snow-white-color: #F8F8F8;
  --ag-blue-color: #007AFF;
  --ag-red-color: #EB4036;
}