:root {
  --ag-black-color: #000000;
  --ag-grey-color: #989898;
  --ag-light-grey-color: #9e9e9e;
  --ag-dark-grey-color: #666666;
  --ag-steel-grey: #818E95;
  --ag-ivory-color: #808080;
  --ag-champagne-color: #dfdfdf;
  --ag-white-color: #ffffff;
  --ag-snow-white-color: #f8f8f8;
  --ag-blue-color: #007aff;
  --ag-red-color: #eb4036;
}
