html {
  font-size: 16px;
  font-family: var(--ag-font-family-roboto);
  font-weight: normal;
  color: var(--ag-black-color);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

#app {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
