@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../public/fonts/sf-pro-display-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../public/fonts/sf-pro-display-bold.woff2') format('woff2')
}