:root {
  --ag-font-size-s: 0.75rem;
  --ag-font-size-sm: 0.875rem;
  --ag-font-size-m: 1rem;
  --ag-font-size-l: 2rem;
  --ag-font-family-roboto: 'Roboto', sans-serif;
  --ag-font-family-sf-pro-display: 'SF Pro Display', sans-serif;
  --ag-font-weight-normal: 400;
  --ag-font-weight-medium: 500;
  --ag-font-weight-bold: 700;
}
